# vim swap files #
##################
*.swp
*.swm
*.swn

# python #
##########
**/__pycache__

/botros
/object_detector/src/yolo
/object_detector/src/ssd
/object_detector/src/gpu_yolo/yolov3.weights
/object_detector/src/pytorch_old_version


